FASTAPI_BASE_URL=http://192.168.10.91:8000
CAMERA_CODE=CAM_001
REQUEST_TIMEOUT_SECONDS=60
CAPTURE_INTERVAL_SECONDS=5
LIVE_FRAME_INTERVAL_SECONDS=0.2
JPEG_QUALITY=80
CAMERA_WIDTH=640
CAMERA_HEIGHT=480
